streamlit
pandas
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
langchain
langchain-community
langchain-groq
langgraph
plotly
langchain==0.2.16
langchain-community==0.2.16
duckduckgo-search>=5.0.0
